@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    /*
    background: url("images/pexels-daniel-reche-1556704.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*overflow: hidden;*/
    background-color: #000000;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgb(39, 39, 39, 0.4);
    background: url("images/pexels-daniel-reche-1556704.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.8), transparent);
    z-index: 999;
}

.nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: rgb(255, 255, 255, 0.3);
}

#registerbtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
    display: none;
}

.form-box {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.cut-btn {
    position: absolute;
    font-size: 30px;
    color: #fff;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.cut-btn:hover {
    color: rgb(239, 201, 85);
    /* Change color on hover as an example */
}

.login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: #fff;
}

.two label a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:890px) {
    /*.nav-button{
        display: none;
    }*/

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(53, 53, 53, 0.9);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(80px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 30px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(252, 251, 251, 0.15);
    }
}

@media only screen and (max-width:660px) {

    .home h1,
    p {
        text-align: center;
        margin: auto 20px;
    }

    .home {
        background-size: contain;
    }

}

@media only screen and (max-width:540px) {
    .wrapper {
        min-height: 100vh;
    }

    .form-box {
        width: 100%;
        height: 500px;
    }

    .register-container,
    .login-container {
        width: 100%;
        padding: 0 20px;
    }

    .register-container .two-forms {
        flex-direction: column;
    }
}

/*home page*/
.home h1 {
    color: #fff;
    margin-top: -20%;
}

.home p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Adjust as needed */
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the video covers the entire container */
}

.home-content {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.border {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    color: #fff;
    position: relative;
    width: 100%;
}

.border .h-1 {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: auto;
}

.border .h-2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.border .h-3 {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.border .h-4 {
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.border .h-5 {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sec-3 {
    background-color: #fff;
}

/*About page*/

#about-page {
    background-color: rgb(0, 0, 0);
    background-image: url("images/pexels-karolina-grabowska-4210784.jpg");
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 130px auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header h1 {
    text-align: center;
    color: #333;
}

.content {
    margin-top: 20px;
}

.intro h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.intro p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.images-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.image-container {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.image-container p {
    margin: 0;
}


.dropbox .form-box {
    display: flex;
}

/* Collection page*/



/*dropbox page start */

@keyframes slide-up2 {
    0% {
        transform: translateY(.5em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes glow-load {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow: 0px 0px 50px #f0860c;
    }
}

@keyframes continuous-glow {
    0% {
        box-shadow: 0 0 5px rgba(255, 157, 9, 0.39), inset 0 0 5px rgba(255, 153, 0, 0.356), 0 2px 0 #000;
    }

    100% {
        box-shadow: 0 0 20px rgba(255, 153, 0, 0.6), inset 0 0 10px rgba(255, 145, 0, 0.4), 0 2px 0 #000;
    }
}

@keyframes blur-load {
    0% {
        opacity: 0;
        filter: blur(0.2em);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.form-container {
    margin: auto;
    width: 90%;
}

.form-item,
.textarea-div {
    opacity: 0;
}

.form-item1 {
    animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .3s 1 slide-up2;
    animation-fill-mode: forwards;
}

.form-item2 {
    animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .4s 1 slide-up2;
    animation-fill-mode: forwards;
}

.form-item3 {
    animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .5s 1 slide-up2;
    animation-fill-mode: forwards;
}

.form-item4 {
    animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .6s 1 slide-up2;
    animation-fill-mode: forwards;
}

form {
    background-color: rgb(12, 12, 12);
    border-radius: 1.25em;
    padding: 1.5em;
    animation: 1s cubic-bezier(0.47, 0, 0.745, 0.715) .7s 1 glow-load;
    animation-fill-mode: forwards;
}

form label {
    color: rgb(191, 191, 191);
}

option,
select,
input,
.textarea-div textarea {
    background: #1b1a1a;
    color: rgb(255, 229, 195);
}

.form-header {
    text-align: center;
    font-size: 28px;
    padding: 0;
    margin-bottom: 1.25em;
    color: #f0860c;
}

label {
    display: block;
    margin-bottom: 0.35em;
    margin-top: 0.35em;
}

#dropbox input:not(.btn),
select {
    padding: 0.625em 1em;
    width: 100%;
    outline: 0;
    margin-bottom: 1.25em;
    border-radius: 1.25em;
    border: 0;
}

.textarea-div {
    width: 100%;
}

textarea {
    padding: 10px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 0;
    font-size: 14px;
    height: 100px;
}

.btn-container {
    margin: auto;
    padding-bottom: 1em;
}

.form-btn {
    background: #f0860c;
    border: none;
    margin-top: 1em;
    font-size: 20px;
    padding: .5em;
}

.btn-glow {
    animation: .5s ease-out 0s 1 blur-load;
    border-radius: 2em;
    color: white;
    transition: .4s;
}

.btn-glow:hover {
    box-shadow: 0px 0px 10px #f0860c;
}

.form-btn:hover {
    background: #f0860c;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
    animation: continuous-glow 800ms ease-out infinite alternate;
    box-shadow: 0 0 5px #f0860c, inset 0 0 5px #f0860c, 0 2px 0 #000;
    color: rgb(255, 229, 195);
}

/* drop box page end */

/*footer*/
footer {
    position: relative;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #020202;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 20px 20px 20px 20px;
    /*margin-top: 80px;*/
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}